<% content_for :head do %>
  <%= stylesheet_link_tag 'main.css' %>
<% end %>

<h1>Research Tools</h1>
<div class="tool"><a href='<%= synergy_path %>'><img src="/images/synergy/screenshot.png"><br/>Synergy Pokédex</a></div>
