#left {
  color: lightgray;
  text-align: center;
  float: left;
  width: 220px;
  margin-left: 20px;
  margin-right: 20px;
}

#left .option_row {
  margin-bottom: 2px;
}

#left #calculate_container {
  margin-top: 10px;
}

h2 {
  font-weight: bold;
  font-size: 150%;
}

#explanation {
  margin-top: 10px;
  width: 200px;
}

#main {
  margin-left: auto;
  margin-right: auto;
  min-width: 1280px;
}

#right {
  float: right;
  width: 350px;
  text-align: center;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 20px;
  height: 100%;
}

#right #subject_name {
  font-weight: bold;
  font-size: 150%;
}

#right img.sugimori {
  max-width: 350px;
  max-height: 350px;
  margin-top: 15px;
}

#right div.subject_forms,
#right div.subject_abilities {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
}

#right #subject_type {
  font-size: 140%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#middle {
  padding-left: 210px;
  padding-right: 360px;
  width: 100%;
}

#synergy_table {
  text-align: center;
  background-color: #2A2A2A;
  border-collapse: separate;
  border-spacing: 2px;
  margin-left: 5px;
  color: gray;
}

#synergy_table th {
  padding: 2px;
  border: 1px solid: #1E1E1E;
  background-color: #1E1E1E;
}

#synergy_table th.header { /* sortables only */
  padding-right: 20px;
  background-image: url('/assets/icons/ascdesc.gif');
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}

#synergy_table thead tr .headerSortUp {
  background-image: url('/assets/icons/asc.gif');
}

#synergy_table thead tr .headerSortDown {
  background-image: url('/assets/icons/desc.gif');
}

#synergy_table td {
  padding: 4px;
  background-color: #1F1F1F;
  vertical-align: middle;
}

/*
#synergy_table td.why {
  width: 15%;
}*/

#synergy_table td.candidates {
  width: 30%;
}

div.vertical-separator {
  height: 1px;
  border-bottom: 1px solid black;
}

#synergy_form {
  margin-top: 10px;
}

/*table.tablesorter {
  font-family:arial;
  font-size: 8pt;
}*/

h1 {
  float: left;
  margin-top: 5px
  margin-left: 15px;
  width: 10%;
}

img.pokesprite {
  display: inline-block;
  float: right;

  margin-top: 5px;
  margin-right: 15px;
}

/*
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
  border: 1px solid #FFF;
  padding-right: 15px;
}
table.tablesorter thead tr .header {
  background-image: url('/assets/icons/ascdesc.gif');
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.tablesorter tbody td {
  padding: 4px;
  vertical-align: middle;
}
table.tablesorter tbody tr.odd td {
}
table.tablesorter thead tr .headerSortUp {
  background-image: url('/assets/icons/asc.gif');
}
table.tablesorter thead tr .headerSortDown {
  background-image: url('/assets/icons/desc.gif');
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
}
*/

div.ability_group {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

span.ability,
span.form {
  font-size: 75%;
}

span.immunity {
  color: lightblue;
}

span.compound-resist {
  color: green;
}

span.resist {
  color: darkgreen;
}

span.weakness {
  color: darkred;
}

span.compound-weakness {
  color: red;
}

span.power-up {
  color: violet;
}

span.absorb {
  color: purple;
}

span.pokeicon {
  background-image: url('/assets/bw_icons/montages/male.png');
  display: inline-block;
  width: 32px;
  height: 32px;
}
